body {
	font-family: "Barlow", sans-serif;
	line-height: 1.6em;
	font-size: 20px;
	background: #F5F5F5;
}

h1, h2 {
	font-weight: 400;
}

hr {
	background: #7D7D7D;
	border: 0;
	height: 1px;
	margin: 40px auto;
}

.container {
	max-width: 1000px;
	padding: 0 20px;
	margin: 50px auto;
}

.header-text {
	text-align: center;
}

.header-image {
	max-width: 100%;
	background: blue;
}


.tagline {
	max-width: 45rem;
	margin: 10px auto;
	font-size: 1.2em;
}

.pic {
	float: left;
	max-width: 75%;
	margin-left: 10%;
}

.bio-text {
	float: left;
	margin-left: 10%;
}

.contact {
	text-align: center;
}
